@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    margin: 0 auto;
}
body{
    background-image: url('../img/emilia-about.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: right;
    font-family: 'Open Sans', sans-serif;
}
ul.menu{    
    margin-top: 50px;
    line-height: 50px;
    text-align: right;
    background-color: #ffffff90;
}
ul.icon{
    text-align: right;
    margin-top: 20px;
}
ul li{
    display: inline;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #000000;
}
ul a i{
    color: #000;
}
ul{
    margin-right: 10px;
}
h1{
    font-family: Raleway;
    margin-top: 150px;
    margin-left: 35px;
    font-size: 72px;
}
h2{
    margin-top: 70px;
    font-family: Work Sans;
    color: rgb(50, 187, 192);
    margin-left: 70px;
}
h3{
    margin-top: 20px;
    font-family: Work Sans;
    color: rgb(50, 187, 192);
    font-size: 13px;
    margin-left: 70px;
}